<h1>Listing Books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Content</th>
    <th>Show</th>
    <th>Change</th>
	<th>Delete</th>
  </tr>

  <% @books.each do |book| %>
	<tr>
	  <td><%= book.title %></td>
	  <td><%= book.author %></td>
	  <td><%= markdown(book.content) %></td>
	  <td><%= link_to "Show", book %></td>
	  <td><%= link_to "Change", edit_book_path(book) %></td>
	  <td><%= link_to "Remove", book, :confirm => "Are you sure?", :method => :delete %></td>
	</tr>
  <% end %>
</table>

<br />

<p>
  <%= paginate @books, :window => 1 %>
</p>

<%= link_to "New book", new_book_path %>